<%= form_for @recipe do |f| %>
    <p>Title:<%= f.text_field :title %></p>

        <%= f.fields_for :ingredients do |ingr| %>
        name: <%= ingr.text_field :name %>
        quantity: <%= ingr.text_field :quantity %>
        <% end %>

    <%= f.submit %>

<% end %>